<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Contato</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">Sobre</a>
            <a href="/contact">Contato</a>
        </nav>
    </header>
    <section>
        <h2>Onde nos encontar:</h2>
        <p>Instagram</p>
        <p>WhatsApp</p>
        <p>Twitter</p>
        <p>E-mail</p>
        <p>Esta página foi criada por Edras Ribeiro Simões - GES133</p>
    </section>
</body>
</html>